/* Login Css */

.left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right {
  flex: 1;
  background: url('../../assets/img/maincover576.png') no-repeat center center/cover;
  position: relative;
}

@media (min-width: 1400px) {
  body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
  }
}

.login-abc .form-control {
  padding: 10px;
  font-size: 12px;
}

.google-btn svg {
  width: 15px;
  height: 15px;
}

.sign-up-btn.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  transition: background 0.3s ease;
}

.sign-up-abc .form-control {
  padding: 10px;
  font-size: 12px;
}

.sign-up-abc input {
  border-radius: 3px;
}

/* Forgot Password Css */

.forgot-container-abc {
  background: #ffffff;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
}

.forgot-container-abc h2 {
  margin-bottom: 24px;
  color: #333;
  text-align: center;
}

.forgot-container-abc label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 6px;
}

.forgot-container-abc input {
  width: 100%;
  padding: 12px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

.forgot-container-abc button {
  width: 100%;
  padding: 12px;
  background-color: #d7ac4b;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
  margin-bottom: 10px;
}

.forgot-container-abc button:hover {
  background-color: #c1963f;
}

.message-def {
  font-size: 0.9rem;
  color: green;
  margin-top: 8px;
  text-align: center;
}

.error-box-xy {
  font-size: 0.85rem;
  color: #d43a3a;
  margin-bottom: 8px;
  text-align: center;
  min-height: 18px;
}

.modal-efg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content-efg {
  background: #fff;
  padding: 40px 30px;
  border-radius: 3px;
  text-align: center;
  animation: fadeIn 0.3s ease-in-out;
  max-width: 90%;
  width: 360px;
}

.modal-content-efg svg {
  display: block;
  margin: 0 auto 20px auto;
  width: 80px;
  height: 80px;
  color: #d7ac4b;
}

.modal-content-efg h3 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  color: #333;
}

.modal-content-efg p {
  font-size: 1rem;
  color: #666;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.stepXY {
  display: none;
}

.stepXY.active {
  display: block;
}

.login-title {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
}

@media (min-width: 300px) {
  .login-title {
    font-size: 25px;
  }
}

